{
    "presets": [ 
        ["preact-cli/babel", { "modules": "commonjs" }], "react"
    ],
    "plugins": [
        ["module-resolver", {
        "root": ["."],
        "alias": {
            "react": "preact-compat",
            "react-dom": "preact-compat",
            "create-react-class": "preact-compat/lib/create-react-class",
            "react-dom-factories": "preact-compat/lib/react-dom-factories"
        }
        }]
    ]
}