html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0 !important;
	background: #FAFAFA;
	/* background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); */
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	height: 100%;
}
